.section {
  padding: 20px;
}

.btn {
  height: 30px;
  padding: 3px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #212121;
  background-color: #21212138;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: tomato;
  border-color: tomato;
  color: #fff;
}

.wrapper {
  display: flex;
}

.descWrapper {
  padding-left: 15px;
}

.descTitle {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.descOwer {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.descGenres {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.descPar {
  span {
    padding-right: 7px;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #212121;
  padding: 10px;
}
