.movieList {
}

.movieItem {
  list-style: none;
  font-size: 24px;
  padding-bottom: 5px;
}

.movieLink {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  display: inline-block;
}

.movieLink:hover,
.movieLink:focus {
  color: tomato;
}
